---
layout: default
---
<div class="post">
    <header class="post-header">
        <h1 class="post-title">{{ page.title }}</h1>
        <h3>{{ page.description }}</h3>
    </header>

    <article class="post-content">
        {{ content }}
    </article>
    {% if page.categories contains 'project' %}
    <h2>News</h2>

    {% for post in site.posts %}
    {% if post.project == page.project %}
    <div class="post-preview">
        <a href="{{ post.url | prepend: site.baseurl }}">
            <h3 class="post-title"> {{ post.title }} </h3>
            {% if post.subtitle %}
            <h4 class="post-subtitle"> {{ post.subtitle }} </h4>
            {% endif %}
        </a>
        <p class="post-meta" style="margin-bottom:5px">Eintrag von {{ post.author }} on {{ post.date | date: "%B %-d, %Y" }}</p>
    </div>
    {% endif %}
    {% endfor %}
    {% endif %}

</div>

